<table>
  <tr>
    <th>Session store</th>
    <td><pre><%= JSON.pretty_generate(session.to_h) %></pre></td>
  </tr>
  <tr>
    <th>Cookies</th>
    <td>
      <pre><%= JSON.pretty_generate(cookies.to_h) %></pre>
    </td>
  </tr>
  <tr>
    <th>JWT ("access_token")</th>
    <td><pre><%= JSON.pretty_generate(access_token_jwt) %></pre></td>
  </tr>
  <tr>
    <th>JWT ("refresh_token")</th>
    <td><pre><%= JSON.pretty_generate(refresh_token_jwt) %></pre></td>
  </tr>
  <tr>
    <th>JWT ("id_token")</th>
    <td><pre><%= JSON.pretty_generate(id_token_jwt) %></pre></td>
  </tr>
  <tr>
    <th>User</th>
    <td><pre><%= JSON.pretty_generate(current_user) %></pre></td>
  </tr>
</table>
